rect.bar:hover {
	fill: #A9BCF5;
}
div#new-measures {
	backgound: lightgrey;
}
.x-axis path,
.x-axis line {
	fill: none;
	stroke: lightgrey;
	shape-rendering: crispEdges;
}
#ui-tooltip {
  position: absolute;
  padding: 1px 10px;
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
  pointer-events: none;
  z-index: 101;
}
#tooltip {
  position: absolute;
  padding: 1px 10px;
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
  pointer-events: none;
  z-index: 101;
}
#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
}
.hidden {
  display: none;
}
.detail {
  border-top: 1px solid grey;
}
#legend {
  background-color: #F0F0F0;
}
div.textblock {
  padding-bottom: 10px;
}